# Ignore node_modules for both projects
db-admin/node_modules/
db-app/node_modules/
db-app/client/node_modules/
db-app/server/node_modules/

# Ignore .env files to keep secrets safe
db-admin/.env
db-app/server/.env